@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,500&display=swap');

/*========= REGLAS CSS ===========
selector {
1. Posicionamiento 
2. Modelo Caja
3. Tipograifa
4. Visuales 
5. Otros 
}*/

/* ================== VARIABLES ================== */
:root {
  /* Colores */

  --red-100: #f5afaf;
  --red-300: #d17070;
  --red-500: #c03b3b;
  --red-700: #911515;
  --red: #c20d0d;

  --grey-100: #f5f5f5;
  --grey-300: #e0e0e0;
  --grey-500: #9e9e9e;
  --grey-700: #616161;
  --grey-900: #505050;

  --white: #fff;
  --black: #202020;

  --input-color: #80868b;
  --border: #dadce0;
  --border-black: #ebebeb5b;

  /* Colores de validacion */
  --info-color: rgb(54, 122, 211);
  --success-color: rgb(47, 201, 106);
  --success-softcolor: rgba(47, 201, 106, 0.1);
  --warning-color: #ffd100;
  --error-color: #cc3939;
  --error-softcolor: #b93b3b1a;

  /* Shadows */
  --normal-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.1);
  --card-shadow: 0 2px 16px 0 hsla(0, 0%, 0%, 0.1);
  --modal-shadow: 0 2px 20px 0 hsla(0, 0%, 0%, 0.4);
  --yellow-shadow: 0 2px 6px 0 hsla(49, 100%, 50%, 0.3);

  /* Borde */
  --normal-radius: 4px;
  --large-radius: 8px;

  /* Alturas */
  --large-height: 4.4rem;
  --normal-height: 3.2rem;
  --small-height: 2.4rem;

  /*Fuente y tipografia */
  --title-font: 'Poppins', sans-serif;
  --body-font: 'Poppins', sans-serif;

  --xlarge-size: 1.8rem;
  --large-size: 1.6rem;
  --normal-size: 1.4rem;
  --small-size: 1.2rem;
  --xsmall-size: 1rem;

  /* Layout */
  --mobile-padding: 2rem;
  --desktop-padding: 10%;

  scroll-behavior: smooth;
}

/* ================== RESET CSS ================== */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: var(--title-font);
  margin: 0;
}

body {
  overflow-x: hidden;
}

body,
input,
button,
select,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-size);
  font-weight: 400;
  color: var(--black-color);
  transition: all 0.5s ease;
}

p {
  font-family: var(--body-font);
  font-size: var(--normal-size);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:link {
  color: var(--black);
}
a:hover {
  color: var(--black);
}
a:active {
  color: var(--black);
}
a:visited {
  color: var(--black);
}
a:focus {
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
}
th {
  text-align: left;
}
td {
  vertical-align: middle;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ================== UI KIT ================== */

@media (min-width: 1000px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--grey-500);
    border-radius: 100px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--grey-700);
  }

  /* hover */
  .scroll_hover {
    mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to left, transparent 17px, black 17px);
    mask-size: 100% 20000px;
    mask-position: left bottom;
    -webkit-mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to left, transparent 17px, black 17px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
    transition: mask-position 0.3s, -webkit-mask-position 0.3s;
  }
  .scroll_hover:hover {
    -webkit-mask-position: left top;
    mask-position: left top;
  }
  .scroll_hover::-webkit-scrollbar {
    opacity: 0;
  }

  .scroll_hover::-webkit-scrollbar-track {
    background: none;
  }

  .scroll_hover::-webkit-scrollbar-thumb {
    background: var(--grey-500);
    border-radius: 100px;
  }

  .scroll_hover::-webkit-scrollbar-thumb:hover {
    background: var(--grey-700);
  }
}
